{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    
    
    <main class="main" >
        {% include 'store/common-banner-div.html' with page_title="Checkout" sub_title=""  %}
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Checkout</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->
    
        <div class="page-content">
            <div class="checkout" >
                <div class="container" >
                    <div class="checkout-discount">
                        <form action="#">
                            <input class="form-control" id="checkout-discount-input" required type="text">
                            <label class="text-truncate" for="checkout-discount-input">Have a coupon? <span>Click here to enter your code</span></label>
                        </form>
                    </div><!-- End .checkout-discount -->
                    
                        
                    <form action="{% url 'place_order' %}" method='POST'>
                            {% csrf_token %}
                        <div class="row">
                        
                            <div class="col-lg-8" style="max-height: 500px; overflow: hidden;">
                                
                                <h3 class="card-title mt-3 mb-3" style="color:white;">Shipping Address</h3><!-- End .card-title -->
                                
                                    <div class="address-container" style="display:flex; flex-wrap: wrap; height: 100%; overflow-y: auto;">                                                                                            
                                            {% for address in addresses %}
                                            {% if not address.deleted %}
                                            <div class="col-lg-6" >
                                                <div class="card card-dashboard" style='background-color: #fffa0140;'>
                                                    <div class="card-body" style="border-radius: 10px;">
                                                        <h3 class="card-title"> Address {{forloop.counter}} </h3>
                                                        <!-- End .card-title -->

                                                        <p>{{address.address_line1}}<br>
                                                            {{address.address_line2}}<br>
                                                            {{address.city}}<br>
                                                            {{address.state}}<br>
                                                            {{address.country}}<br>
                                                            {{address.pin}}<br>
                                                        </p>

                                                        <div class="form-check">
                                                            <input class="form-check-input" id="defaultAddress{{address.id}}" name="order_address_id" type="radio" value="{{address.id}}" {% if address.default %}checked{% endif %} required>
                                                            <label class="form-check-label" for="defaultAddress{{address.id}}">
                                                            Select
                                                            </label>
                                                        </div>
                                
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .card-dashboard -->
                                            </div><!-- End .col-lg-6 -->
                                            {% endif %}
                                            {% endfor %}
                                     </div><!-- container -->     
                            </div><!-- End .col-lg-8 -->

                            <aside class="col-lg-4"  >
                                <div class="summary summary-cart" style="border-radius: 10px; background-color: #fffa0140;">
                                    <h3 class="summary-title">Cart Summary</h3><!-- End .summary-title -->
        
                                    <table class="table table-summary" >
                                        <tbody>
                                            <tr class="summary-subtotal">
                                                <td>Items</td>
                                                <td>Qty</td>
                                                <td>Amount</td>
                                            </tr>
                                            {% for item in cart_items %}
                                            <tr class="summary-subtotal">
                                                
                                                <td><a href="#">{{ item.item.variantname }}</a></td>
                                                <td><div class="text-center" >{{ item.quantity }}</div></td>
                                                <td>{{ item.subtotal }}</td>
                                                
                                            </tr>
                                            {% endfor %}
                                            
                                            <tr class="summary-subtotal">
                                                <td><b>Subtotal:</td>
                                                <td>&nbsp;</td>
                                                <td><b>{{cart.totalprice}}</td>
                                            </tr><!-- End .summary-subtotal -->

                                            <tr class="summary-shipping">
                                                <td>Shipping:</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
        
                                            <tr class="summary-shipping-row">
                                                <td>
                                                    <div class="custom-control custom-radio">
                                                        <input class="custom-control-input" id="free-shipping" name="shipping" type="radio">
                                                        <label class="custom-control-label" for="free-shipping">Free Shipping</label>
                                                    </div><!-- End .custom-control -->
                                                </td>
                                                <td>&nbsp;</td>
                                                <td>$0.00</td>
                                            </tr><!-- End .summary-shipping-row -->
        
                                            <tr class="summary-shipping-row">
                                                <td>
                                                    <div class="custom-control custom-radio">
                                                        <input class="custom-control-input" id="standart-shipping" name="shipping" type="radio">
                                                        <label class="custom-control-label" for="standart-shipping">Standart:</label>
                                                    </div><!-- End .custom-control -->
                                                </td>
                                                <td>&nbsp;</td>
                                                <td>$10.00</td>
                                            </tr><!-- End .summary-shipping-row -->
        
                                            <tr class="summary-shipping-row">
                                                <td>
                                                    <div class="custom-control custom-radio">
                                                        <input class="custom-control-input" id="express-shipping" name="shipping" type="radio">
                                                        <label class="custom-control-label" for="express-shipping">Express:</label>
                                                    </div><!-- End .custom-control -->
                                                </td>
                                                <td>&nbsp;</td>
                                                <td>$20.00</td>
                                            </tr><!-- End .summary-shipping-row -->
        
                                            <tr class="summary-shipping-estimate">
                                                <td>Estimate for Your Country<br> </td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr><!-- End .summary-shipping-estimate -->
        
                                            <tr class="summary-total">
                                                <td><b>Total:</b></td>
                                                <td>&nbsp; INR</td>
                                                <td style="color:black;"><b>&nbsp; {{cart.totalprice}}</b></td>
                                            </tr><!-- End .summary-total -->
                                        </tbody>
                                    </table><!-- End .table table-summary -->
                                    
                                    <button type="submit" class="btn btn-success btn-block btn-lg" href="">PLACE ORDER</button>
                                </div><!-- End .summary -->
        
                                <a class="btn btn-outline-warning btn-lg btn-block mb-3" href="{% url 'user_home' %}"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                            </aside>
                    </form>

                        

                            <div style="display:flex; justify-content: flex-start;">
                            <button class="btn btn-lg btn-warning col-lg-2"  data-bs-target="#exampleModal" data-bs-toggle="modal"
                                        type="button">
                                    + Add new address
                                </button>    
                            </div>
                    
                                <br>

                                <!-- Modal -->
                                <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                                     id="exampleModal" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                        type="button"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{% url 'add_address' %}" method="POST" enctype="multipart/form-data">

                                                    {% csrf_token %}

                                                    <div class="modal-body">
                                                        <label for="addressLine1" style="width: 100%;">Address line
                                                            1</label><br>
                                                        <input type="text" id="addressLine1" name="address1" required
                                                               style="width: 100%;">
                                                    </div>

                                                    <div class="modal-body">
                                                        <label for="addressLine2" style="width: 100%;">Address line
                                                            2</label><br>
                                                        <input type="text" id="addressLine2" name="address2" required
                                                               style="width: 100%;">
                                                    </div>

                                                    <div class="modal-body">
                                                        <label for="city" style="width: 100%;">City</label><br>
                                                        <input type="text" id="city" name="city" required
                                                               style="width: 100%;">
                                                    </div>

                                                    <div class="modal-body">
                                                        <label for="state" style="width: 100%;">State</label><br>
                                                        <input type="text" id="state" name="state" required
                                                               style="width: 100%;">
                                                    </div>

                                                    <div class="modal-body">
                                                        <label for="country"
                                                               style="width: 100%;">Country</label><br>
                                                        <input type="text" id="country" name="country" required
                                                               style="width: 100%;">
                                                    </div>

                                                    <div class="modal-body">
                                                        <label for="pin" style="width: 100%;">PIN</label><br>
                                                        <input type="text" id="pin" name="pin" required
                                                               style="width: 100%;">
                                                    </div>
                                                    
                                                    <div>
                                                    <input type="checkbox" name="is_default" id="defaultCheckbox" value="True">
                                                    <label for="defaultCheckbox">Set as Default</label>
                                                    </div>
                                                    
                                                    <input type="checkbox" name="checkout" id="defaultCheckbox" value="True" style="display:none;">

                                                    <div class="modal-footer">
                                                            <a href=""></a>
                                                        <button type="submit" class="btn btn-primary">Add Address
                                                        </button>
                                                    </div>



                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                                                                                                                                                                                                               
                                </div><!-- End .summary -->                                
                            </aside><!-- End .col-lg-3 -->

                            
                        </div><!-- End .row -->
                        <input id="selected_payment" name="payment_method"  type="hidden"  value="">
                    </form>
                </div><!-- End .container -->
            </div><!-- End .checkout -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
    
{% endblock %}