{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    
    
    <main class="main" >
        {% include 'store/common-banner-div.html' with page_title="Checkout" sub_title=""  %}
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Checkout</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->
    
        <div class="page-content">
            <div class="checkout" >
                <div class="container" >
                    <div class="checkout-discount">
                        <form action="#">
                            <input class="form-control" id="checkout-discount-input" required type="text">
                            <label class="text-truncate" for="checkout-discount-input">Have a coupon? <span>Click here to enter your code</span></label>
                        </form>
                    </div><!-- End .checkout-discount -->
                    
                        
                    <form action="{% url 'place_order' %}" method='POST'>
                            {% csrf_token %}
                        <div class="row">
                        
                            <div class="col-lg-8" style="max-height: 500px; overflow: hidden;">
                                
                                <h3 class="card-title mt-3 mb-3" style="color:white;">Shipping Address</h3><!-- End .card-title -->
                                
                                    <div class="address-container" style="display:flex; flex-wrap: wrap; height: 100%; overflow-y: auto;">                                                                                            
                                            {% for address in addresses %}
                                            {% if not address.deleted %}
                                            <div class="col-lg-6" >
                                                <div class="card card-dashboard" style='background-color: #fffa0140;'>
                                                    <div class="card-body" style="border-radius: 10px;">
                                                        <h3 class="card-title"> Address {{forloop.counter}} </h3>
                                                        <!-- End .card-title -->

                                                        <p>{{address.address_line1}}<br>
                                                            {{address.address_line2}}<br>
                                                            {{address.city}}<br>
                                                            {{address.state}}<br>
                                                            {{address.country}}<br>
                                                            {{address.pin}}<br>
                                                        </p>

                                                        <div class="form-check">
                                                            <input class="form-check-input" id="defaultAddress{{address.id}}" name="order_address_id" type="radio" value="{{address.id}}" {% if address.default %}checked{% endif %} required>
                                                            <label class="form-check-label" for="defaultAddress{{address.id}}">
                                                            Select
                                                            </label>
                                                        </div>
                                
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .card-dashboard -->
                                            </div><!-- End .col-lg-6 -->
                                            {% endif %}
                                            {% endfor %}
                                     </div><!-- container -->     
                            </div><!-- End .col-lg-8 -->
{% comment %} ___________________________________________________________________________________________

{% endcomment %}
                            <aside class="col-lg-4">
                                <div class="summary">
                                    <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                    <table class="table table-summary">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                
                                                <th>Quantity</th>
                                                
                                                <th>Total</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for item in cart_items %}
                                            <tr class="summary-subtotal">
                                                
                                                <td><a href="#">{{ item.item.variantname }}</a></td>
                                                <td><div class="text-center" >{{ item.quantity }}</div></td>
                                                <td>{{ item.subtotal }}</td>
                                                
                                            </tr>
                                            {% endfor %}
                                           
                                            <tr >
                                                <td><h5>Estimate for Your Country</h5><br> </td>
                                                <td></td>
                                                <td></td>                                                
                                            </tr>
                                            {% if coupon %}
                                            <tr >
                                                <td><h5>Discount</h5><br> </td>
                                                <td></td>
                                                <td><h5> {{cart.saved_amount}}</h5></td>                                                
                                            </tr>
                                            {% endif %}
                                        

                                            <tr class="summary-total">
                                                <td>Total:</td>
                                                <td></td>
                                                {% if coupon %}
                                                <td>{{cart.coupon_price}} </td>
                                                {% else %}
                                                <td>{{cart.totalprice}} </td>
                                                {% endif %}
                                            </tr><!-- End .summary-total -->
                                        </tbody>
                                    </table><!-- End .table table-summary -->

                                    <div class="accordion-summary" id="accordion-payment">
                                        <div class="card">
                                            <div class="card-header" id="heading-1">
                                                <h2 class="card-title">
                                                    <a role="button"  onclick="redirectToOrderView('cod')"  data-toggle="collapse"  href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                                    
                                                        Cash On Delivery
                                                    </a>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
                                                <div class="card-body">payment is secure when using the debit credit card for the payment</div>
                                            
                                                <button type="submit"  class="btn btn-outline-primary-2 btn-order btn-block">
                                                    <span class="btn-text">Place Order</span>
                                                    <span  class="btn-hover-text">Proceed to Checkout</span>
                                                </button>
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
                                                                    
                                        <div class="card">
                                            <div class="card-header" id="heading-4">
                                                <h2 class="card-title">
                                                    
                                                    <a class="collapsed" onclick="redirectToOrderView('onlinepayment')" role="button"  data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                                        
                                                        Online Payment <small class="float-right paypal-link">Payment using Razorpay</small>
                                                    </a>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-4" class="collapse" aria-labelledby="heading-4"data-parent="#accordion-payment">
                                                <div class="card-body">
                                                    <div class="card-body">payment is secure when using the debit credit card for the payment</div>
                                                    
                                                    <button type="submit" id="rzp-button1"  class="btn btn-outline-primary-2 btn-order btn-block">
                                                        <span class="btn-text">Place Order</span>
                                                        <span  class="btn-hover-text">Proceed to Checkout</span>
                                                    </button>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
                                    </div><!-- End .accordion -->
                                </div><!-- End .summary -->
                            </aside><!-- End .col-lg-3 -->
                    </form>

                        

                            <div style="display:flex; justify-content: flex-start;">
                            <button class="btn btn-lg btn-warning col-lg-2"  data-bs-target="#exampleModal" data-bs-toggle="modal"
                                        type="button">
                                    + Add new address
                                </button>    
                            </div>
                    
                                <br>

                                <!-- Modal -->
                                <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                                     id="exampleModal" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                        type="button"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{% url 'add_address' %}" method="POST" enctype="multipart/form-data">

                                                    {% csrf_token %}

                                                    <div class="modal-body">
                                                        <label for="addressLine1" style="width: 100%;">Address line
                                                            1</label><br>
                                                        <input type="text" id="addressLine1" name="address1" required
                                                               style="width: 100%;">
                                                    </div>

                                                    <div class="modal-body">
                                                        <label for="addressLine2" style="width: 100%;">Address line
                                                            2</label><br>
                                                        <input type="text" id="addressLine2" name="address2" required
                                                               style="width: 100%;">
                                                    </div>

                                                    <div class="modal-body">
                                                        <label for="city" style="width: 100%;">City</label><br>
                                                        <input type="text" id="city" name="city" required
                                                               style="width: 100%;">
                                                    </div>

                                                    <div class="modal-body">
                                                        <label for="state" style="width: 100%;">State</label><br>
                                                        <input type="text" id="state" name="state" required
                                                               style="width: 100%;">
                                                    </div>

                                                    <div class="modal-body">
                                                        <label for="country"
                                                               style="width: 100%;">Country</label><br>
                                                        <input type="text" id="country" name="country" required
                                                               style="width: 100%;">
                                                    </div>

                                                    <div class="modal-body">
                                                        <label for="pin" style="width: 100%;">PIN</label><br>
                                                        <input type="text" id="pin" name="pin" required
                                                               style="width: 100%;">
                                                    </div>
                                                    
                                                    <div>
                                                    <input type="checkbox" name="is_default" id="defaultCheckbox" value="True">
                                                    <label for="defaultCheckbox">Set as Default</label>
                                                    </div>
                                                    
                                                    <input type="checkbox" name="checkout" id="defaultCheckbox" value="True" style="display:none;">

                                                    <div class="modal-footer">
                                                            <a href=""></a>
                                                        <button type="submit" class="btn btn-primary">Add Address
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                                                                                                                                                                                                               
                                </div><!-- End .summary -->                                
                            </aside><!-- End .col-lg-3 -->

                            
                        </div><!-- End .row -->
                        <input id="selected_payment" name="payment_method"  type="hidden"  value="">
                    </form>
                </div><!-- End .container -->
            </div><!-- End .checkout -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_lIdjq66EM8z09I", // Enter the Key ID generated from the Dashboard
    "amount": "{{payment.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        const form = document.getElementById('place_order');
        // Submit the form
        form.submit();
   },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        //alert(response.error.code);
        //alert(response.error.description);
        //alert(response.error.source);
        //alert(response.error.step);
        //alert(response.error.reason);
        //alert(response.error.metadata.order_id);
        //alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
<script>

    const radioButtons = document.querySelectorAll('input[type="radio"][name="group"]');
    
    radioButtons.forEach(function(radioButton) {
      radioButton.addEventListener("click", function() {
        radioButtons.forEach(function(otherRadioButton) {
          if (otherRadioButton !== radioButton) {
            otherRadioButton.checked = false; // Uncheck other radio buttons
          }
        });
      });
    });
    </script>
{% endblock %}