{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<main class="main">

    <div class="container my-5 py-5">
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <div class="card text-center">
            <div class="card-header">
              <h3 class="text-success" >Order Placed Successfully!</h3>
            </div>
            <div class="card-body">
              <p>Thank you for your order. We have received your order and it will be processed soon.</p>
              <p>Your order number is: <strong>{{order.order_num}} &nbsp Placed on:{{order.order_date}}</strong></p> 
              <p>Shipping address: {{order.order_address.address_line1}}</p> 
              <p>Items purchased:</p> 
              <table style="width: 100%; border-collapse: collapse; text-align: left;">
                <thead>
                    <tr>
                        <th style="padding: 8px; border: 1px solid #ddd;">No</th>
                        <th style="padding: 8px; border: 1px solid #ddd;">Items</th>
                        <th style="padding: 8px; border: 1px solid #ddd;">Quantity</th>
                        <th style="padding: 8px; border: 1px solid #ddd;">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td style="padding: 8px; border: 1px solid #ddd;">{{ forloop.counter }}</td>
                        <td style="padding: 8px; border: 1px solid #ddd;">{{ item.item.variantname }}</td>
                        <td style="padding: 8px; border: 1px solid #ddd;">{{ item.quantity }}</td>
                        <td style="padding: 8px; border: 1px solid #ddd;">{{ item.sold_at_price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div style="text-align: left; margin-top: 20px;">
              <strong style="display: block; margin-bottom: 5px;">Total price: INR &nbsp {{ totalprice }}</strong>
              <strong style="display: block; margin-bottom: 5px;">Discounts applied: INR &nbsp {{ order.coupon_discount }}</strong>
              <strong>Grand total: INR &nbsp{{ order.order_total_price }}</strong>
          </div>
              

              <p>You will receive an email confirmation shortly.</p>
            </div>
            <div class="card-footer">
              <a href="{% url 'user_home' %}" class="btn btn-primary">Continue Shopping</a><br>
              <a href="{% url 'user_orders' %}"> View My Order </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}