{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<main class="main">
    {% include 'store/common-banner-div.html' with page_title=user.name|capfirst|add:"'s Account" sub_title="" %}

    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href=" {% url 'user_home' %}">Home</a></li>

                <li class="breadcrumb-item active" aria-current="page">Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            {% comment %} <li class="nav-item">
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard"
                                   role="tab" aria-controls="tab-dashboard" aria-selected="false">Dashboard</a>
                            </li> {% endcomment %}
                            <li class="nav-item">
                                <a class="nav-link " id="tab-account-link" href="{% url 'user_profile' %}"
                                   role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-orders-link"  href="{% url 'user_orders' %}" role="tab"
                                   aria-controls="tab-orders" aria-selected="false">Orders</a>
                            </li>
                            {% comment %}
                            <li class="nav-item">
                                <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads"
                                   role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
                            </li>
                            {% endcomment %}
                            <li class="nav-item">
                                <a class="nav-link " id="tab-address-link" href="{% url 'user_address' %}"
                                   role="tab" aria-controls="tab-address" aria-selected="true">Adresses</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'user_logout' %}">Sign Out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            

                                {% comment %} ORDERS  {% endcomment %}

                            <div class="tab-pane fade active show" id="tab-orders" role="tabpanel"
                                 aria-labelledby="tab-orders-link">

                                 <table class="table table-dark" style= " space-between;">
                                    <thead>
                                      <tr>
                                        <th scope="col">NO.</th>
                                        <th scope="col">Order id</th>
                                        <th scope="col">Order date</th>
                                        <th scope="col">Items</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% comment %} {% for i in cat %} {% endcomment %}

                                    {% for order_item in order_items %}
                                    <tr>                            
                                        <td>{{forloop.counter}}</td>
                                        <td>Order id</td>
                                        <td>Item name</td>
                                        <td>Item Qty</td>
                                        <td>amount</td>
                                        

                                        <td><a><button type="button" href="#" class="btn btn-warning">
                                          Cancel order
                                        </button></a></td>
                                        {% comment %} <td><a href="{% url 'delete_categories' i.id %}" onclick="return confirm('Are you sure you want to delete?');" class="text-danger">Delete</a> </td> {% endcomment %}
                                      </tr>
                                    {% endfor %}

                                     {% comment %} {% endfor %} {% endcomment %}
                                    </tbody>
                                  </table>
                            </div><!-- .End .tab-pane -->
                        </div><!-- .End .col -->
                            
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main>
{% endblock %}