{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<main class="main">
    {% include 'store/common-banner-div.html' with page_title=user.name|capfirst|add:"'s Account" sub_title="" %}

    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href=" {% url 'user_home' %}">Home</a></li>

                <li class="breadcrumb-item active" aria-current="page">Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-2 col-lg-2">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            {% comment %} <li class="nav-item">
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard"
                                   role="tab" aria-controls="tab-dashboard" aria-selected="false">Dashboard</a>
                            </li> {% endcomment %}
                            <li class="nav-item">
                                <a class="nav-link " id="tab-account-link" href="{% url 'user_profile' %}"
                                   role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-orders-link"  href="{% url 'user_orders' %}" role="tab"
                                   aria-controls="tab-orders" aria-selected="false">Orders</a>
                            </li>
                            {% comment %}
                            <li class="nav-item">
                                <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads"
                                   role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
                            </li>
                            {% endcomment %}
                            <li class="nav-item">
                                <a class="nav-link " id="tab-address-link" href="{% url 'user_address' %}"
                                   role="tab" aria-controls="tab-address" aria-selected="true">Adresses</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'user_logout' %}">Sign Out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-10 col-lg-10">
                        <div class="tab-content">
                            

                                {% comment %} ORDERS  {% endcomment %}

                            <div class="tab-pane fade active show" id="tab-orders" role="tabpanel"
                                 aria-labelledby="tab-orders-link">

                                 <table class="table table-dark" style= " space-between;">
                                    
                                    <thead>
                                      <tr>
                                        <th scope="col">NO.</th>
                                        <th scope="col">Order id</th>
                                        <th scope="col">Order date</th>
                                        <th scope="col">Payment</th>
                                        <th scope="col">Status </th>
                                        <th scope="col">Invoice </th>                                            
                                        <th scope="col">Order details </th>
                                        
                                        {% comment %} <th scope="col">Action</th> {% endcomment %}
                                      </tr>
                                      
                                    </thead>
                                    <tbody>
                                    

                                        {% for order in orders %}
                                        <tr>      
                                                                  
                                            <td style="font-size: 12px;">{{forloop.counter}}</td>
                                            <td style="font-size: 12px;">{{order.order_num}}</td>
                                            <td style="font-size: 12px;">{{order.order_date}}</td>
                                            <td style="font-size: 12px;">{{ order.payment_type }}</td>
                                            <td style="font-size: 12px;">{{ order.order_status }}</td>
                                            <td style="font-size: 12px;">
                                                <div>
                                                    <a style="text-decoration: none; border-bottom: none;" href="{% url 'generate_invoice' order.id %}">
                                                        <button style="border-bottom: none;" type="button" class="btn btn-primary">Download Invoice</button>
                                                </div>
                                            </td>                                            
                                            <td style="font-size: 12px; ">
                                                <div class="row">
                                                    
                                                    <table>
                                                        <tr>
                                                            <th style="border-left: 1px solid white;" class="text-left"><h5>Items in this order</h5></th>
                                                            <th class="text-left">Quantity</th>
                                                            <th class="text-left">Price</th>
                                                            <th class="text-left">Status</th>
                                                            <th class="text-left">Cancel Item</th>
                                                        </tr>
                                                        {% for item in order.items_in_order.all %}
                                                        <tr>
                                                            <div>
                                                            <tr>
                                                                <td style="border-left: 1px solid white; border-bottom: none; font-size: 12px; word-break: break-word;" class="text-center">
                                                                    <div style= "word-wrap: break-word; max-width: 150px;">
                                                                        {{ item.item.variantname }}
                                                                    </div>
                                                                </td>
                                                                <td class="text-left" style="font-size: 12px; border-bottom: none;">{{ item.quantity }}</td>
                                                                <td class="text-left" style="font-size: 12px; border-bottom: none;">{{ item.sold_at_price }}</td>
                                                                <td class="text-left" style="font-size: 12px; border-bottom: none;">{{ item.item_order_status }}</td>
                                                                
                                                                {% if item.cancel_req %}
                                                                <td style="border-bottom: none;" class="d-flex justify-content-end">
                                                                <div class="badge badge-danger">Cancellation requested</div>
                                                                </td>
                                                                {% else %}
                                                                <td style="border-bottom: none;" class="d-flex justify-content-end">
                                                                    <a style="text-decoration: none; border-bottom: none;" href="{% url 'cancel_req' item.id %}">
                                                                        <button style="border-bottom: none;" type="button" class="btn btn-warning">Cancel Item</button>
                                                                    
                                                                    </a>
                                                                </td>
                                                                {% endif %}
                                                                {% if item.item_order_status == "Cancelled" %}
                                                                <td style="border-bottom: none;" class="d-flex justify-content-end">
                                                                    <div class="badge badge-danger">Cancelled</div>
                                                                    </td>
                                                                    {% endif %}
                                                                
                                                            </tr>

    
                                                        </tr>
                                                        
                                                        {% endfor %}
                                                    </table>
                                                    
                                                    <div style = "border-left: solid white; border-top: dashed gray 1px;">
                                                        <h4>&nbsp; Order address:</h4>
                                                        {% for historical_address in order.history_order_address.all %}
                                                            <h5 style="margin: 10px; padding: 0;">{{ historical_address.address_line1 }} , {{ historical_address.address_line2 }}</h5>
                                                            <h5 style="margin: 10px; padding: 0;">{{ historical_address.city }} , {{ historical_address.country }}</h5>
                                                            <h5 style="margin: 10px; padding: 0;">{{ historical_address.pin }}</h5>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                    {% endfor %}
                                    
                                     {% comment %} {% endfor %} {% endcomment %}
                                    </tbody>
                                  </table>
                            </div><!-- .End .tab-pane -->
                        </div><!-- .End .col -->
                            
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main>
{% endblock %}