.description-tooltip {
    display: inline-block;
    max-width: 150px;
    overflow: auto;
    
    white-space: nowrap;
  }


.product-name {
  display: inline-block;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
  