
{% extends 'customadmin/base.html'%}
{% load static %}
{% block cart-active %}active{% endblock %}



{% block dashboard %}

<style>
    
    .dashboard-text {
      color: white;
    }
  </style>



<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" >Order Status</h4>
            <div class="table-responsive">
                <table class="table">
            
            <thead>                
                <tr>
                  <th style="color:white;" class="dashboard-text">Items</th>
                  <th style="color:white;" class="dashboard-text">Quantity</th>
                  <th style="color:white;" class="dashboard-text">Price</th>
                  <th style="color:white;" class="dashboard-text">Status</th>
                  <th style="color:white;" class="dashboard-text">Change status</th>
                  <th style="color:white;" class="dashboard-text">Current status / requests</th>
                </tr>
              </thead>
            
              
              {% for order_detail in order_details %}
              <form action=" {% url 'update_item_status'  order_detail.id %}" method="POST" enctype="multipart/form-data">  
                {% csrf_token %}
                <tr>
                    <td> {{order_detail.item.variantname}} </td>
                    <td> {{order_detail.quantity}} </td>
                    <td> {{order_detail.sold_at_price}} </td>
                    <td>  <select name="item_status">
                        {% for choice in order_detail.item_status_choices %}
                            <option value="{{ choice.0 }}" {% if choice.0 == order_detail.item_order_status %}selected{% endif %}>{{ choice.1 }}</option>
                        {% endfor %}
                    </select> </td>
                    <td><button type="submit" class="btn btn-success">Save</button></td>
                    <td>
                        {% if order_detail.cancel_req and not order_detail.item_order_status == 'Cancelled'%}
                        <div style="display:flex; flex-direction:column;">
                        <div class="badge badge-danger">Cancellation requested</div>
                        </div>
                        {% else %}
                        <div class="badge badge-outline-warning">{{ order_detail.item_order_status }}</div>
                        {% endif %}
                      </td>
                </tr>      
            {% endfor %}
            
        </form>
            
          </table>
          
        </div>
      </div>
    </div>
  </div>

{% endblock dashboard %}